<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My website</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>My website</h1>
        {% if session['mode'] == 'dark' %}
        <p>Dark mode</p>
        <style>
            body{
                background-color: black;
                color: white;
            }
        </style>
        {% endif %}
        <a href="{{ url_for('set_background', mode='light') }}">Light mode</a>
        <a href="{{ url_for('set_background', mode='dark') }}">Dark mode</a>
    </div>
</body>
</html>